<footer>
        
    


    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="flex: 1;"><a href="https://www.dublincore.org/about/lrmi/"><img
                src="https://raw.githubusercontent.com/dcmi/lrmi/main/images/enhanced-Long_small+bright.png"
                alt="LRMI enhanced" /></a></div>
        <div style="flex: 1;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;">
            <a href="https://matchmakeredlabs.net/About/contact.html" style="align-items: center;">Contact Us</a>
        </div>
        <div style="flex: 1;">
            <text style="text-align: right;">v2.0</text>
        </div>
        
        <!-- Copyright and License go here. -->
    </div>

    {%- comment %}
    <!-- Analytics go here -->
    <script>
        // Privacy-sensitive page view counter
        fetch("https://pageviewcounter.dicax.org/rpv?url=" + encodeURIComponent(window.location.href));
    </script>
    {% endcomment %}
</footer>
