<footer>
    <div style="max-width: 40em; margin: auto; position: bottom;">
        <a href="https://matchmakeredlabs.net/About/contact.html">Contact Us</a>
        <!-- Copyright and License go here. -->
    </div>
    <div style="float: right;">
        v1.4
    </div>

    {%- comment %}
    <!-- Analytics go here -->
    <script>
        // Privacy-sensitive page view counter
        fetch("https://pageviewcounter.dicax.org/rpv?url=" + encodeURIComponent(window.location.href));
    </script>
    {% endcomment %}
</footer>