@mixin mmx_card {
    margin: 1em;
    padding: 1em 1.5em 1.5em 1.5em;
    box-shadow: 0 0 0.75em 0.25em rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #949494;
    border-radius: 8px;
    box-sizing: border-box;
    
    h2 {
        @include title2;
    }
    
    h3 {
        @include comp-label;
    }
    
    dl>div {
        display: flex;
        margin: 0.25em 0;
    }
    
    dt {
        flex: 0 0 auto;
        width: 7em;
        color: inherit;
        font-size: 0.85em;
        font-weight: bold;
        vertical-align: top;
        overflow-wrap: break-word;
    }
    
    dd {
        flex: 1 1 0;
        margin: 0;
        min-width: 0; /* Default min-with for flex is the length of the content. This enables overflow-wrap */
        vertical-align: top;
        overflow-wrap: break-word;
    }
}