@mixin mmx_colors {
    --clr_accent1: #004D85; // Directory, Subtitle, Heading 1 (blue)
    --clr_other: #8A1515; // (burgundy)
    --clr_accent2: #004D85; // Title, Heading 2 (blue)
    --clr_link: #18577e; // (blue)
    --clr_link_visited: #278DCC;
    --clr_link_hover_bg: #D0D0D0; // (medium-light gray)
    --clr_code_bg: #E8E8E8; // (light gray)
    --gradient_hr: linear-gradient(to right, white, #808080, #808080, white);
}

