$w_add: 3em;
$w_id: 4em;
$w_central: 3em;
$w_centralWide: 5em;
$w_type: 4em;

.mm_descColumns {
    display: flex;
}

.mm_descColumns>div {
    flex: 1 1 0;
    height: 100%;
    overflow-y: visible;
    margin-right: 1em;
}

.mm_descColumns>div:last-child {
    margin-right: 0;
}

.mmx_stmtSearchBar {
    margin-bottom: 0.5em;
}

.mmx_stmtSearchBar input {
    height: 2em;
    vertical-align: top;
}

.mmc_stmtSearch {
    width: calc(100% - 3em);
}

.mmc_stmtSearchButton {
    width: 3em;
}

.mmc_stmtSearchResult {
    flex-grow: 1;
    flex-shrink: 1;
    height: 0;
    overflow-y: auto;
}

.mmx_lrmiCompose {
    flex-grow: 1;
    flex-shrink: 1;
    height: 0;
    overflow-y: auto;
}

.mm_listHr {
    border: 0;
    height: 4px;
    width: 100%;
    background-color: $mm-darkblue;
    background-image: none;
}

.mm_stmtHead {
    font-weight: bold;
    padding-left: 0.25em;
}

.mm_stmt {
    padding-left: 0.25em;
    margin-bottom: 1em;
}

.mm_stmtAdd {
    display: inline-block;
    vertical-align: top;
    width: $w_add;
}

.mm_stmtCentral {
    display: inline-block;
    vertical-align: top;
    width: $w_central;
}

.mm_stmtCentralWide {
    display: inline-block;
    vertical-align: top;
    width: $w_centralWide;
}

.mm_stmtId {
    display: inline-block;
    vertical-align: top;
    width: $w_id;
}

.mm_stmtType {
    display: inline-block;
    vertical-align: top;
    width: $w_type;
}

.mm_stmtText {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - #{$w_add + $w_id + $w_type + 0.25em});
}

.mm_stmtKeyText {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - #{$w_add + $w_central + $w_id + $w_type + 0.25em});
}

.mm_stmtWideText {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - #{$w_id + $w_centralWide + $w_type + 0.25em});
}

.mmc_lrmiForm {
    @include mmx_card;

    div.controls {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }

    div.controls_left {
        display: block;
    }

    div.controls_right {
        display: block;
    }
}

.mmc_editable {
    margin-top: 0.2em !important;
    border-color: lightgray !important;
    border-style: dashed;
    border-width: 1px;
    min-width: 4em;
    margin-top: 1em;
    outline: none !important; // Suppress built-in navigation highlighting
}

#p_name:empty::before {
    content: "Name";
    color:gray;
}

#p_abstract:empty::before {
    content: "Abstract";
    color:gray;
}

/*
.mmc_editable:active,
.mmc_editable:focus {
    padding-left: 2px;
    outline: none;
}
*/
