@import "card";

.mmc_descriptor {
    @include mmx_card;

    div.annotation {
        float: right;
    }
}

.mmc_descriptor.mm_active {
    border-color: $mm-red;
}

.toggle-button-bionic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $mm-darkblue;
}

.toggle-button-container {
    display: flex;
    flex-direction: row;
}
