main {
    height: calc(100vh - 9rem);
    overflow: auto; // This will add a scrollbar to the main content if it exceeds the viewport height.
    padding-bottom: 1em; // Replace (size of footer) with the actual height of your footer.
}

// Assign this to <main> or something with a specified height.
.mm_columns {
    display: flex;
}

.mm_columns>div {
    flex: 1 1 0;
    height: 100%;
    overflow-y: auto;
    margin-right: 1em;    
}

.mm_columns>div:last-child {
    margin-right: 0;
}

.mm_columns_header {
    height: 8rem;
}

.mm_columns_body {
    height: calc(100vh - 17rem);
}

.mm_flex_vert {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mm_flex_vert>* {
    flex-grow: 0;
    flex-shrink: 0;
    height: fit-content;
}

.mm_flex_grow1 {
    flex-grow: 1;
    flex-shrink: 1;
}

